		<meta charset="utf-8">
		<title>{% trans %}HISPASEC | Seguridad. Experiencia. Innovación.{% endtrans %}</title>
		<meta name="description" content="HISPASEC | Seguridad. Experiencia. Innovación.">
		<meta name="author" content="HISPASEC S.L.">

		{# Mobile Meta #}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{# Favicon and bookmarks#}
		<link rel="shortcut icon" href="/static/images/icon/favicon.ico">
		<link rel="apple-touch-icon" sizes="57x57" href="/static/images/icon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/static/images/icon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/static/images/icon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/static/images/icon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/static/images/icon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/static/images/icon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/static/images/icon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/static/images/icon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/static/images/icon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/static/images/icon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/images/icon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/static/images/icon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/images/icon/favicon-16x16.png">
		<link rel="manifest" href="/static/images/icon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/static/images/icon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">		

		{# Web Fonts #}
		<link href='//fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic|Raleway:700,400,300|Pacifico|PT+Serif' rel='stylesheet' type='text/css'>
		
		{% compress 'css' %}
		{# Bootstrap core CSS #}
		<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">

		{# Font Awesome CSS #}
		<link href="/static/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

		{# Fontello CSS #}
		<link href="/static/fonts/fontello/css/fontello.css" rel="stylesheet" type="text/css">

		{# Font HS CSS #}
		<link href="/static/fonts/HS/css/HS.css" rel="stylesheet" type="text/css">		

		{# Plugins #}
		<link href="/static/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
		<link href="/static/plugins/rs-plugin/css/settings.css" rel="stylesheet" type="text/css">
		<link href="/static/css/animations.css" rel="stylesheet" type="text/css">
		<link href="/static/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">
		<link href="/static/plugins/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css">
		<link href="/static/plugins/hover/hover-min.css" rel="stylesheet" type="text/css">
		<link href="/static/plugins/morphext/morphext.css" rel="stylesheet" type="text/css">
		
		{# HISPASEC core CSS file #}
		<link href="/static/css/style.css" rel="stylesheet" type="text/css" >

		{# Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)#}
		<link href="/static/css/skins/hs.css" rel="stylesheet" type="text/css">

		{# Custom css  #} 
		<link href="/static/css/custom.css" rel="stylesheet" type="text/css">
		{% endcompress %}

		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-35708552-1']);
			_gaq.push(['_trackPageview']);
			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	    </script>

	    <script type="application/ld+json">
		{
		  "@context": "http://schema.org",
		  "@type": "Organization",
		  "url": "http://www.hispasec.com",
		  "logo": "https://hispasec.com/static/images/hs_logo.png",
		  "contactPoint": [{
		    "@type": "ContactPoint",
		    "telephone": "+34 952 020 494",
		    "contactType": "sales"
		  }]
		}
		</script>